.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-link:hover{
  color: #61dafb !important;
}


.textareabox{
  width: 100%;
  max-width: 700px;
    box-sizing: border-box;
}

.carouselCon{
  
  max-width: 80%;
  padding: 10px;
  background-color: #39C0ED;
  border-radius: 10px;
  
}

.pageCon{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carouselImg{
  max-height: 523px;
  max-width: 958ps
}

.game{
  min-width: 95%;
}
.imgCap{
  color: #282c34;
  background-color: #39C0ED;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px black;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.madLogo{
  padding-right: 10px;
}

.imgCap{
  
  transition: transform .2s; 
  
}

.imgCap:hover{
  transform: scale(1.2);
}

@media screen and (max-width: 550px) {
  
  .imgCap{
    font-size: 8pt;
    
    
  }

    
  .madLogo{
    font-size: 10pt;
    padding-right: 2px;
  }

  .signBtn{
    font-size: 10pt;
    position: relative;
    

  }

}

@media screen and (min-width: 993px) {

        .signBtn{
          position: absolute;
            right: 0px;
            top: 8px;
        }



  
}

.loaderCon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loader {
  border: 8px solid #f3f3f300; /* transparent */
  border-top: 8px solid #39C0ED; /* Blue */
  border-right: 8px solid #39C0ED; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


